<div class="nested-fields">
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.radio_button :correct, true %>
    <%= label :correct, 'Correct' %>
    <%= f.radio_button :correct, false %>
    <%= label :correct, 'Incorrect' %>
  </div>

  <%= link_to_remove_association "Remove choice", f %>
</div>
