<%= form_for @question do |f| %>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]} %>
  </div>
  
  <h2>Choices</h2>

  <%= f.fields_for :choices do |choice_fields| %>
    <%= render 'choices_fields', f: choice_fields %>
  <% end %>

  <div>
    <%= link_to_add_association "Add Choice", f, :choices %>
  </div>

  <%= f.submit %>
<% end %>
