<h1><%= @cohort.name %></h1>
<span id="cohort-id"><%= @cohort.id %></span>
<p><%= @cohort.start_display %>
  to
<%= @cohort.end_display %></p>

<% if @user_list != [] %>
<h3>Add Student to Cohort</h3>
  <% @user_list.each do |user| %>
    <div class="new-student-list">
      <%= user.name %>

      <%= form_for user, remote:true do |f| %>
      <%= f.hidden_field :cohort_id, class: "cohort-add" %>
      <%= f.submit class: "hidden_cohort_user_update" %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @users %>
<h3>Students in Cohort</h3>
  <div class="student-container">
    <%= render @users %>
  </div>
<% end %>
<br>
<%= image_tag('examresults.png') %>
<br>
<br>
<% if @exams.any? %>
  <% @exams.each do |exam| %>
    <%= link_to cohort_exam_path(@cohort, exam) do %>
      <% exam_class = "cohorts-exam-list" %>
      <% if Scantron.find_scantron_by_exam(exam.id, current_user.id) %>
        <% exam_class = Scantron.class_for_scantron(exam.id, current_user.id) %>
      <% end %>
      <% exam_class = "cohorts-exam-list" if exam_class == false %>
      <div class= <%= exam_class %>>
        <%= exam.name %>
      </div>
    <% end %>
  <% end %>
<% end %>
<%if Game.get_class_for_game_result(Scantron.get_scantrons_with_game_finished, current_user.id) %>
  <% game_class = Game.get_class_for_game_result(Scantron.get_scantrons_with_game_finished, current_user.id) %>
<% end %>
<div class=<%= game_class %>>
  Stopping game
</div>


<br>
<% unless current_user.role == "student" %>
<%= link_to "Create New Exam", new_cohort_exam_path(@cohort) %>
<% end %>
