
<% if can? :manage, Appointment %>
  <div id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
    </div>
    <%= calendar @date do |date| %>
      <%= date.day %>
       <% if @appointments_by_date[date] %>
        <ul>
         <% @appointments_by_date[date].each do |appointment| %>
          <li><%= link_to appointment.description, user_appointment_path(@user, appointment) %></li>
         <% end %>
        </ul>
      <% end %>
      <% end %>
  <% end %>
