<p>
  <%= @user.name %><br>
  <%= @user.email %><br>
</p>

<%= link_to 'Make an appointment', new_user_appointment_path(@user.id) %>
<%= link_to 'View cohorts', cohorts_path %>
<% if @user.scantrons.any? %>
  <h4>Exam Results</h4>
  <% @user.scantrons.each do |scantron| %>
    <% if scantron.result != nil  %>
      <ul>
        <li>
          <div>
            <%= scantron.exam.name %>
          </div>
            <% examNumber = Exam.get_exam_by_scantron(scantron) %>
            <% cohortNumber = Cohort.get_cohort_by_exam(examNumber) %>
            <%= link_to scantron.convert_to_percent, cohort_exam_path(cohortNumber, examNumber) %>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
