<link rel="stylesheet" href"stylesheets/animate.css">
<link rel="stylesheet" href"stylesheets/welcome.scss">
<script type="text/javascript" src="welcome.js"></script>




<body class="tree">



<div class="outlinetext center jumbotron fadeIn animated">
  <!-- <%=image_tag "CarPlayClean.jpg", class: 'examsheet' %> -->
  <h1>Locate nearby driving instructors</h1>
  <%=image_tag"Sign1.jpg", class: 'red' %>
  <%=image_tag"sign2.jpg", class: 'purple' %>
  <%=image_tag"sign3.jpg", class: 'yellow' %>
  <%=image_tag"sign4.jpg", class: 'blue' %>

</div>


<!-- <div class="outer">
  <div class="inner">
    <h1> iougofydahfbdshuvusbdsdncjnkjcnjksnjcansLNLJANCJSN</h1>
  </div>
</div> -->


<div class="video">
<iframe width="640" height="360" src="https://www.youtube.com/embed/zEDn2yCoosQ" frameborder="0" allowfullscreen></iframe>
</div>

<!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Online driving tests:<br>Interative design</h2>
                    <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
                </div>
                <div class="bar">
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%=image_tag "test2.jpg", class: 'road'  %>
                    <!-- <img class="img-responsive" src="public/images/L.jpeg" alt=""> -->
                </div>
              </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Online testing<br>Offical exams</h2>
                    <p class="lead">Booking driving lessons made easy! <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <%=image_tag "test.jpg", class: 'examsheet' %>
                    <!-- <img class="img-responsive" src="test2.jpeg" alt="test"> -->
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Our courses are<br>CAA approved</h2>
                    <p class="lead">CAA approved <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <%=image_tag "CAA_LOGO.jpg", class: 'caa' %>
                    <!-- <img class="img-responsive" img src="assets/images/test.jpg" alt=""> -->
                </div>
            </div>

        </div>
        <!-- /.container -->

    <!-- </div> -->
    <!-- /.content-section-a -->


        <!-- /.container -->

    </div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("calendar.jpg")%>
      <div class="container">
        <div class="carousel-caption">
          <h1>Driving School</h1>
          <p>Drivexus is making it easier to connect with driving instructors in your area</p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("Geolocation.jpg")%>
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Map finder</p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("written.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Make and look up appointments with a single click</h1>
          <p>Latest Tests</p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->
<!-- <h1>Photography of the World</h1>
<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
<p><a class="btn btn-primary btn-lg" href="#" role="button">Photo &raquo;</a></p> -->
<!-- </div>
</div> -->

</body>
