<h1><%= @exam.name %></h1>

<div class="attachedquestionlist">
  <% if @attachedquestions.any? %>
    <h3>List of Questions on Exam</h3>
    <% @attachedquestions.each_with_index do |question, index| %>
      <%= render partial: 'attachedquestion', locals: {attachedquestion: question, index: index}%>
    <% end %>
  <% end %>
</div>

<%= form_for @attachedquestion, remote: true do |f| %>
  <%= f.hidden_field(:exam_id, :value => @exam.id) %>
  <%= f.text_field :question_id %>
  <%= f.submit %>
<% end %>

<br>
<label class="collapse" for="_1">List Of Questions Available To Add</label>
<input id="_1" type="checkbox">

<div class="list-of-questions">
  <div>
    <%= link_to "Add New Question", new_question_path %>
  </div>
  <div class="unusedlist">
    <%= render partial: 'questions/form', collection: @unusedquestions, as: :question%>
  </div>
</div>

<% if current_user %>
  <h1>Test</h1>
  <% @attachedquestions.each do |question| %>
    <p class="questioncontent"><%= question.content %></p>
      <%= form_for Answer.new do |f| %>
        <% question.choices.each do |choice| %>
        <%= f.label :correct, choice.content %>
        <%= f.check_box :correct, :data => {:spoon => choice.correct}  %>
        <br>
      <% end %>

      <%= form_for Answer.new do |f| %>
        <%= f.hidden_field(:scantron_id, :value => @scantron.id) %>
        <%= f.hidden_field(:question_id, :value => question.id) %>
        <%= f.hidden_field(:correct, :value => false, :id => 'realanswerform') %>
      <% end %>

    <% end %>
  <% end %>
  <%= form_for @scantron, :url => scantrons_path do |g| %>
    <%= g.submit "Grade Test" %>
  <% end %>
<% end %>
