<h1><%= @exam.name %></h1>

<% if @attachedquestions.any? %>
  <h3>List of Questions on Exam</h3>
  <% @attachedquestions.each do |question| %>
    <div class="attached-question-class">
      <h3><%= question.id %>) <%= question.content %></h3>
      <% if question.choices.any? %>
        <ul>
          <% question.choices.each do |choice| %>
            <li><%= choice.content %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end  %>
  <!-- <%= render 'questions/form', :collection => @attachedquestions, as: :questions  %> -->
<% end %>

<%= form_for @attachedquestion do |f| %>
  <%= f.hidden_field(:exam_id, :value => @exam.id) %>
  <%= f.text_field :question_id %>
  <%= f.submit %>
<% end %>

<br>
<label class="collapse" for="_1">List Of Questions Available To Add</label>
<input id="_1" type="checkbox">

<div class="list-of-questions">
  <div><%= link_to "Add New Question", new_question_path %></div>
  <% @unusedquestions.each do |question| %>
    <div class="question-class" data-qid="<%= question.id %>">
      <h3><%= question.id %>) <%= question.content %></h3>
      <% if question.choices.any? %>
        <ul>
          <% question.choices.each do |choice| %>
            <li><%= choice.content %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
