<h1><%= @exam.name %></h1>

<div class="attachedquestionlist">
  <% if @attachedquestions.any? %>
    <h3>List of Questions on Exam</h3>
    <% @attachedquestions.each_with_index do |question, index| %>
      <%= render partial: 'attachedquestion', locals: {attachedquestion: question, index: index}%>
    <% end %>
  <% end %>
</div>

<%= form_for @attachedquestion, remote: true do |f| %>
  <%= f.hidden_field(:exam_id, :value => @exam.id) %>
  <%= f.text_field :question_id %>
  <%= f.submit %>
<% end %>

<br>
<label class="collapse" for="_1">List Of Questions Available To Add</label>
<input id="_1" type="checkbox">

<div class="list-of-questions">
  <div>
    <%= link_to "Add New Question", new_question_path %>
  </div>
  <div class="unusedlist">
    <%= render partial: 'questions/form', collection: @unusedquestions, as: :question%>
  </div>
</div>

<% if current_user %>
  <h1>Test</h1>
  <%= form_for @scantron, :url => {:action => 'scantron', :method => 'create'} do |g| %>
    <% @attachedquestions.each do |question| %>
      <p class="questioncontent"><%= question.content %></p>
      <%= form_for Answer.new do |f| %>
        <% question.choices.each do |choice| %>
          <%= f.label :correct, choice.content %>
          <%= f.check_box :correct %>
          <br>
        <% end %>
      <% end %>
    <% end %>
    <%= g.submit %>
  <% end %>
<% end %>
