<h1><%= @exam.name %></h1>

<div class="attachedquestionlist">
  <% if @attachedquestions.any? %>
    <h3>List of Questions on Exam</h3>
    <% @attachedquestions.each_with_index do |question, index| %>
      <%= render partial: 'attachedquestion', locals: {attachedquestion: question, index: index}%>
    <% end %>
  <% end %>
</div>

<%= form_for @attachedquestion, remote: true do |f| %>
  <%= f.hidden_field(:exam_id, :value => @exam.id) %>
  <%= f.text_field :question_id %>
  <%= f.submit %>
<% end %>

<br>
<label class="collapse" for="_1">List Of Questions Available To Add</label>
<input id="_1" type="checkbox">

<div class="list-of-questions">
  <div>
    <%= link_to "Add New Question", new_question_path %>
  </div>
  <div class="unusedlist">
    <%= render partial: 'questions/form', collection: @unusedquestions, as: :question%>
  </div>
</div>

<% if current_user %>
  <h1 id="test-title">Test</h1>
  <% @attachedquestions.each do |question| %>
    <div class="questioncontainer">
      <!-- Hidden form for submitting an answer  -->
      <%= form_for Answer.new, :html => {:class => 'realanswerform'}, remote: true do |f| %>
        <%= f.hidden_field(:scantron_id, :value => @scantron.id) %>
        <%= f.hidden_field(:question_id, :value => question.id) %>
        <%= f.hidden_field(:correct, :value => false, :class => 'realanswercorrect', :id => question.id) %>
        <%= f.submit :class => 'realanswersubmit' %>
      <% end %>
      <!-- Visible div to click choices  -->
      <p class="questioncontent"><%= question.content %></p>
      <% question.choices.each do |choice| %>
        <div class="choicecontainer" id="choicecontainer" data-spoon="<%=choice.correct%>" data-qnum ="<%= question.id %>" >
          <%= choice.content %>
        </div>
      <% end %>

    </div>
  <% end %>
  <a class="action-button shadow animate blue" id="testsubmitbutton">Submit</a>
<% end %>

<span id="scantronid"><%= @scantron.id %></span>
