<h1><%= @cohort.name %></h1>
<p><%= @cohort.start_display %>
  to
<%= @cohort.end_display %></p>

<% if @exams.any? %>
    <% @exams.each do |exam| %>
      <div>
        <%= link_to exam.name, cohort_exam_path(@cohort, exam) %>
      </div>
    <% end %>
<% end %>

<%= link_to "Create New Exam", new_cohort_exam_path(@cohort) %>
