  <h1><%= @driver.name %></h1>

  <div id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
    </div>

  <%= calendar @date do |date| %>
    <%= date.day %>

    <% if @appointments_by_date[date] %>
  <ul>
    <% @appointments_by_date[date].each do |appointment| %>
    <%= link_to appointment.user.name, user_appointment_path(appointment.user,appointment) %>

    <% end %>
  </ul>
  <% end %>
  <% end %>


<%= @driver.photo %>
<% @driver.appointments.each do |appointment|%>
<pre>
<%= appointment.user.name %>
<%= appointment.description %><br>
<%= appointment.date %><br>
<p>From </p>
<%= appointment.astart_time %>
<%= appointment.aend_time %>
<p>To</p>
</pre>
<% end %>
