<p>
<%= form_for([@user, @appointment]) do |f| %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :start_time, "From" %>
  <%= f.time_select :start_time, ampm: true,  minute_step: 30, start_hour: 8, end_hour: 20 %>

  <%= f.label :end_time, "To" %>
  <%= f.time_select :end_time, ampm: true,  minute_step: 30, start_hour: 8, end_hour: 20  %>

  <%= f.label :address, "Pickup address" %>
  <%= f.text_field :address%>

  <%= f.label :description, "Comment" %>
  <%= f.text_field :description%>

  <div class="driver_name">
    <%= f.label :Instructor %>
    <%= f.number_field :driver_id %>

  </div>

  <%= f.submit %>


<% end %>

</p>
