<div class="show-drivers">
  <h2>Nearby drivers</h2>
    <ol>
      <% if @nearby_drivers.present? %>
        <% @nearby_drivers.each do |driver| %>
        <div class= "show-appointment" data-collect = "<%= driver.id %>" >
        <%= driver.name  %><br>
        <%= driver.bio %><br>
        <div class="drivers-address-latitude">
          <%= driver.latitude %>
        </div>

        <div class="drivers-address-longitude">
          <%= driver.longitude %>
        </div>
      </div>
        <% end %>
      <%end %>


    </ol>
</div>
