

      <div class="show-drivers" >

        <div class="row">


        <div class="span9">

      <% if @nearby_drivers.present? %>
      <h2 class="nr-hd">Nearby Instructor</h2>
        <% @nearby_drivers.each do |driver| %>
        <div class= "show-appointment" data-collect = "<%= driver.id %>" >


          <div class="row">
          <div class="span6">
              <%= image_tag "Ernest.png" %>
            <div class="span2">

            <%= driver.name  %><br>
            <%= driver.bio %><br>
            </div>
      </div>
    </div>
        <div class="drivers-address-latitude">
          <%= driver.latitude %>
        </div>

        <div class="drivers-address-longitude">
          <%= driver.longitude %>
        </div>
      </div>

        <% end %>
      <%end %>

  </div>
</div>
</div>
