<div class="apt-picker">



<%= form_tag drivers_path, remote:true, method: :get do   %>
  <div class="apt-all">
    <h3>Find an Instructor</h3>

    <div class="dt-picker">
    <%= label_tag :date %><br>
    <%= text_field :date, params[:date]%>
    </div>

    <div class="st-time">
      <%= label_tag :start_time, "From" %><br>
      <%= time_select :start_time, params[:start_time], ampm: true,  minute_step: 30, start_hour: 8, end_hour: 20 %>
    </div>


    <div class="ed-time">
    <%= label_tag :end_time, "To" %><br>
    <%= time_select :end_time, params[:end_time], ampm: true,  minute_step: 30, start_hour: 8, end_hour: 20  %>
    </div>

    <div class="dr-bttn">
    <%= submit_tag 'Find a nearby instructor', :id => 'nearby-drivers' %><br>
    </div>

    <div class="ad-picker">
    <%= label_tag :address, "Pickup address" %><br>
    <%= text_field_tag :address, params[:address]%>
    </div>

    <div class="fn-ad">
    <%= submit_tag 'Find an instructor', :id => 'drivers-by-address' %>
    </div>

  <% end %>
    </div>
</div>
