<%= form_tag user_appointments_path, method: :get, remote: true do  %>

<%= label_tag :description %>
<%= text_field_tag :description, params[:description]%>

<%= label_tag :date %>
<%= text_field_tag :date, params[:date]%>

<%= label_tag :time %>
<%= time_field_tag :time, params[:time] %>

<%= label_tag :address, "Pickup address" %>
<%= text_field_tag :address, params[:address]%>

<%= submit_tag 'Find an instructor', :id => 'nearby-drivers' %>
</div>

<% end %>

<%= render 'driver' %>
