<h1><%= @appointment.description %></h1>
<h1><%= @appointment.date %></h1>
<h1><%= @appointment.astart_time %></h1>
<h1><%= @appointment.aend_time %></h1>
<h1>Pick Up address<br></h1>
  <h2> <%= @appointment.address %></h2>
  <h1>Instructor name</h1>
<h2><%= @appointment.driver.name %></h2>


<p>
  <% if can? :update, @appointment %>
  <%= link_to "Edit", edit_user_appointment_path(@user.id, @appointment.id) %>
  <% end %>

  <% if can? :destroy, @appointment %>
  <%= link_to "Delete", user_appointment_path(@user.id, @appointment.id), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<%= link_to "New Appointment", new_user_appointment_path(@user) %>
</p>
