<h1><%= @exam.name %></h1>

<div class="attachedquestionlist">
  <% if @attachedquestions.any? %>
    <h3>List of Questions on Exam</h3>
    <% @attachedquestions.each_with_index do |question, index| %>
      <%= render partial: 'attachedquestion', locals: {attachedquestion: question, index: index}%>
    <% end %>
  <% end %>
</div>

<%= form_for @attachedquestion, remote: true do |f| %>
  <%= f.hidden_field(:exam_id, :value => @exam.id) %>
  <%= f.text_field :question_id %>
  <%= f.submit %>
<% end %>

<div class="showquestions">
  <p>SHOW QUESTIONS</p>
</div>

<div class="list-of-questions">
  <div>
    <%= link_to "Add New Question", new_question_path %>
  </div>

  <% @categories.each do |category| %>
    <% if category.questions.any? %>
      <div class="examcategories">
        <h3><%= category.name %></h3>
        <% category_questions = [] %>
        <% category.questions.each do |question| %>
          <% @unusedquestions.include?(question) ? category_questions << question : question %>
        <% end %>
        <%= render partial: 'questions/form', collection: category_questions, as: :question%>
      </div>
    <% end %>
  <% end %>
</div>

<% if current_user && @scantron.result === nil %>
  <h1 id="test-title">Test</h1>
  <% @attachedquestions.each do |question| %>
    <div class="questioncontainer">
      <!-- Hidden form for submitting an answer  -->
      <%= form_for Answer.new, :html => {:class => 'realanswerform'}, remote: true do |f| %>
        <%= f.hidden_field(:scantron_id, :value => @scantron.id) %>
        <%= f.hidden_field(:question_id, :value => question.id) %>
        <%= f.hidden_field(:correct, :value => false, :class => 'realanswercorrect', :id => question.id) %>
        <%= f.submit :class => 'realanswersubmit' %>
      <% end %>
      <!-- Visible div to click choices  -->
      <p class="questioncontent"><%= question.content %></p>
      <% question.choices.each do |choice| %>
        <% choice.correct ? choicelisting = 1 : choicelisting = 0 %>
        <div class="choicecontainer" id="choicecontainer" data-spoon="<%=choicelisting%>" data-qnum ="<%= question.id %>" >
          <%= choice.content %>
        </div>
      <% end %>

    </div>
  <% end %>
  <a class="action-button shadow animate blue" id="testsubmitbutton">Submit</a>
<% end %>

<span id="scantronid"><%= @scantron.id %></span>

<% if @scantron.result %>
  <% @attachedquestions.each do |question| %>
    <div class="answeredquestioncontainer">
      <!-- Visible div to click choices  -->
      <p class="answeredquestioncontent"><%= question.content %></p>
      <% question.choices.each do |choice| %>
        <% queryanswer = @answers.where(question_id: question.id).first %>
        <% if queryanswer %>
          <% queryanswer.correct && choice.correct == 1 ? answered_class = "truechoicecontainer" : answered_class = "choicecontainer" %>
        <% end %>
        <div class='<%= answered_class %>' id="answeredchoicecontainer" data-spoon="<%=choice.correct%>" data-qnum ="<%= question.id %>" >
          <%= choice.content %>
        </div>
      <% end %>

    </div>
  <% end %>
<% end %>
